<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../pages/index %>
</head>
<body>
	
	<div class='container-fluid'>
		<div class="form-group">
		<p><h4>Create Request</h4></p>
	</div>
		<div class="panel panel-default">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="date" name="request_date">
					</div>
				</div>
				<div class="form-group">
					<label for="sr" class="col-sm-2 control-label">Service Request no</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="sr" name="sr_no">
					</div>
				</div>
				<div class="form-group">
					<label for="user" class="col-sm-2 control-label">User</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="user">
					</div>
					<button  type="button" class="btn btn-default" id="btnEmpLookup">
							<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
				<div class="form-group">
			        <label class="col-xs-2 control-label">Application</label>
			        <div class="col-xs-4 selectContainer">
			            <select class="form-control" name="application" id="application">
			            	<option value=0>Select Appliation</option>
			            </select>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-xs-2 control-label">Module</label>
			        <div class="col-xs-4 selectContainer">
			            <select class="form-control" name="module" id="module" disabled='disabled'>
			            	<option value=0>Select Module</option>
			            </select>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-xs-2 control-label">Function / Usergroup</label>
			        <div class="col-xs-4 selectContainer">
			            <select class="form-control" name="usergroup" id="usergroup" disabled='disabled'>
			            	<option value=0>Select Function / Usergroup</option>
			            </select>
			        </div>
			    </div>
			     <div class="form-group">
			        <label class="col-xs-2 control-label">Qualifier / Usertype</label>
			        <div class="col-xs-4 selectContainer">
			            <select class="form-control" name="qualifier" id="qualifier" disabled='disabled'>
			            	<option value=0>Select Qualifier / Usertype</option>
			            </select>
			        </div>
			    </div>
			    
		    	<div class="form-group">
			        <label class="col-xs-2 control-label">Approver</label>
			        <div class="col-xs-4" id="approversContainer">
		</div>
	</div>
		    <div class="form-group">
		        <label class="col-xs-2 control-label">Justification and/or Remarks: </label>
		        <div class="col-xs-4 selectContainer">
		            <textarea class="form-control" rows="3" name="remarks"></textarea>
		        </div>
		    </div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" id="btnCreate">Create</button>
				</div>
			</div>
		</form>
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script type="text/javascript" src='/js/request_form.js'></script>
	<script type="text/javascript" src='/js/employee_lookup.js'></script>
	<script type="text/javascript" src='/js/approver_lookup.js'></script>
	

</body>
</html>