<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../pages/index %>
</head>
<body>
	<div class='container-fluid'>
		<div class="form-group">
		<p><h4>Search Request</h4></p>
	</div>
	<div class='container-fluid'>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="controls form-inline">
						<table id="table-responsive" class="table" >
							<tr>
								<td><label for="date" class="control-label">Date</label></td>
								<td><input type="date" class="form-control" id="date" name="request_date"></td>
							</tr>
							<tr>
								<td><label for="sr" class="control-label">Service Request no</label></td>
								<td><input type="text" class="form-control" id="sr" name="sr_no"></td>
							</tr>
						<!--	<tr>
								<td><label for="approver" class="control-label">Approver</label></td>
								<td><input type="text" class="form-control" id="approver" name="approver">
								<button  type="button" class="btn btn-default" id="btnApproverLookup">
									<span class="glyphicon glyphicon-search"></span>
								</button></td>
							</tr>
							
							<tr>
								<td><label for="status">Status</label></td>
								<td><input type="text" class="form-control" id="status" name="status"></td>
							</tr>
							 <tr>

						
								<td><label class="control-label">Application</label></td>
								<td><select class="form-control" name="application" id="application">
										<option value=0>Select Appliation</option>
									</select>
								</td>
							</tr>
							<tr>					
								<td><label class="control-label">Module</label></td>
								<td>
									<select class="form-control" name="module" id="module">
									<option value=0>Select Module</option>
									</select>
								</td>
							</tr>

							<tr>
							
						
								<td><label class="control-label">Function / Usergroup</label></td>
								<td>
									<select class="form-control" name="usergroup" id="usergroup">
										<option value=0>Select Function / Usergroup</option>
									</select>
								</td>
							</tr>

							<tr>
								<td><label class="control-label">Qualifier / Usertype</label></td>
								<td>
									<select class="form-control" name="qualifier" id="qualifier">
										<option value=0>Select Qualifier / Usertype</option>
									</select>
								</td>
							</tr> -->
							<tr></tr>
							<tr>
								<td>
										<button type="button" class="btn btn-default" id="btnSubmit">Search</button>
								</td>									
							</tr>

						</table>
					</div>
					
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered" id="tableResult">
				<tbody>
				</tbody>
			</table>
			<button type="button" class="btn btn-default" id="btnBatch">Batch Request</button>
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script type="text/javascript" src='/js/approver_lookup.js'></script>
	<script type="text/javascript" src='/js/request_index.js'></script>
</body>
</html>