<script src='/js/jquery/dist/jquery.js'></script> 
<script src='/js/jquery/dist/jquery.min.js'></script> 
<script src='/js/jquery-ui/jquery-ui.js'></script> 
<script src='/js/jquery-ui/jquery-ui.min.js'></script> 
<script src="/js/bootstrap/dist/js/bootstrap.js"></script>
