<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../pages/index %>
</head>
<body>
	<div class='container-fluid'>
		<div class="form-group">
		<p><h4>Manage Approvers</h4></p>
	</div>
	<div class='container-fluid'>
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- <form class='form-horizontal'> -->
					<div class="form-group">
						<label for="user" class="col-sm-2 control-label">Employee</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="user">
						</div>
						<button  type="button" class="btn btn-default" id="btnEmpLookup">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" id="btnSubmit">Set as approver</button>
						</div>
					</div>
				<!-- </form> -->
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered display" id="tableTest"  cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			
		</div>
		<br>
		<div class="panel panel-default">
			<div class="panel-body">
				<button type="button" class="btn  btn-default" id="btnRemove">Remove Selected</button>
			</div>	
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script type="text/javascript" src='/js/employee_lookup.js'></script>
	<script type="text/javascript" src='/js/approver/maintain_approver.js'></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>	
</body>
</html>