<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../pages/index %>
</head>
<body>
<div class='container-fluid'>
		<div class="form-group">
		<p><h4>Manage Modules</h4></p>
	</div>
	<div class='container-fluid'>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class='form-horizontal'>
					<div class="form-group">
						<label for="application" class="col-sm-2 control-label">Application:</label>
						<div class="col-sm-4">
							<select class="form-control" name='application'>
								<option selected value=0>Select Application</option>
							</select>
						</div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-selected='application'>
							<span class="glyphicon glyphicon-plus"></span>New Application
						</button>
					</div>
					<div class="form-group">
						<label for="module" class="col-sm-2 control-label">Module:</label>
						<div class="col-sm-4">
							<select class="form-control" name='module'>
								<option selected value=0>Select Module</option>
							</select>
						</div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-selected='module'>
							<span class="glyphicon glyphicon glyphicon-plus"></span>New Module
						</button>
					</div>
					<div class="form-group">
						<label for="function_usergroup" class="col-sm-2 control-label">Function / Usergroup:</label>
						<div class="col-sm-4">
							<select class="form-control" name='FunctionUsergroup'>
								<option selected value=0>Select Function / Usergroup</option>
							</select>
						</div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-selected='Function / Usergroup'>
							<span class="glyphicon glyphicon glyphicon-plus"></span>New Function / Usergroup
						</button>
					</div>


					<div class="form-group">
						<label for="qualifier_usertype" class="col-sm-2 control-label">Qualifier / Usertype</label>
						<div class="col-sm-4">
							<select class="form-control" name="QualifierUsertype">
								<option selected value=0>Select Qualifier / Usertype</option>
							</select>
						</div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-selected='Qualifier / Usertype'>
							<span class="glyphicon glyphicon glyphicon-plus"></span>New Qualifier / Usertype
						</button>
					</div>


					<div class="form-group">
						<label for="qualifier_usertype_value" class="col-sm-2 control-label">Qualifier / Usertype Value</label>
						<div class="col-sm-4">
							<select class="form-control" name="QualifierValue">
								<option selected value=0>Select Qualifier Value</option>
							</select>
						</div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-selected='Qualifier Value'>
							<span class="glyphicon glyphicon glyphicon-plus"></span>New Qualifier Value
						</button>
					</div>

					<div class="form-group">
						<label for="module" class="col-sm-2 control-label">Approver:</label>
						<div class="col-sm-4">
							<select class="form-control" name='approver'>
								<option selected value=0>Select Approver</option>
							</select>
						</div>
					</div >
					
					
				</form>
				
			</div>
		<div class="form-group">
					<button type="button" class="btn btn-default" id='btnSubmit'>
						<span class="glyphicon"></span>Submit
					</button>
				</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered" id="tblApplication">
			<thead><tr><th>Application</th><th>Module</th><th>Function / Usergroup</th><th>Qualifier / Usertype</th><th>Qualifier Value</th></tr></thead>
			</table>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Application</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="name" class="control-label">Application:</label>
							<input type="text" class="form-control" name='name'>
							<input type='hidden' class='selected' />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" id='btnCreate' data-dismiss="modal">Create</button>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script type="text/javascript" src='/js/application_module_script.js'></script>
	
</body>
</html>